<div class="inline-section-wrapper" id="inline-section-input"
     data-controller="inline-section"
     data-inline-section-list-id-value="<%= todo_list.id %>">
  <div class="active-section-input">
    <div class="dropdown-wrap" data-controller="dropdown" data-inline-section-target="iconDropdown">
      <button type="button" class="section-icon-picker-btn" data-action="click->dropdown#toggle">
        <i class="fa-light fa-folder section-icon-picker-icon" data-inline-section-target="iconDisplay"></i>
        <i class="fa-light fa-chevron-down section-icon-picker-chevron"></i>
      </button>
      <div class="dropdown-menu dropdown-menu--left" data-dropdown-target="menu">
        <div class="section-icon-dropdown">
          <span class="section-icon-dropdown-label">Choose an icon</span>
          <div class="section-icon-grid">
            <% %w[cart-shopping briefcase house heart book-open code palette wrench star bolt].each do |icon_name| %>
              <button type="button" class="section-icon-grid-btn" data-action="click->inline-section#selectIcon" data-icon="<%= icon_name %>">
                <i class="fa-light fa-<%= icon_name %>"></i>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <input type="text" class="inline-section-text" placeholder="Section name..."
           data-inline-section-target="input"
           data-action="keydown->inline-section#handleKeydown"
           autofocus>
    <input type="hidden" data-inline-section-target="iconInput" value="">
    <div class="input-hints">
      <span class="input-hint-badge">Enter</span>
      <span class="input-hint-text">to create</span>
    </div>
  </div>
</div>
