<%= turbo_frame_tag dom_id(item), class: "todo-item-frame", draggable: "true", data: { item_id: item.id, section_id: item.todo_section_id } do %>
  <div class="todo-item todo-item--completed">
    <wa-icon name="grip-dots-vertical" variant="thin" class="drag-handle"></wa-icon>
    <%= button_to toggle_todo_list_todo_item_path(todo_list, item), method: :patch, class: "todo-item-checkbox todo-item-checkbox--done" do %>
      <div class="todo-item-check-done">
        <wa-icon name="check" variant="solid" class="todo-item-check-icon"></wa-icon>
      </div>
    <% end %>
    <span class="todo-item-title todo-item-title--done"><%= item.name %></span>
  </div>
<% end %>
